<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: rgb(89,187,164);" href="#">.</a>
    </div>
     <button routerLink="/" type="button" class="btn btn-dark logout">Logout</button> 
  </nav>

  <button routerLink="/" type="button" class="btn btn-dark logout">Logout</button> -->
  <nav class="navbar">
    <div class="container-fluid">
      <img src="/assets/nagarro_logo.jpg" class="logo" alt="" srcset="" >
     <h3 class="m-auto">Product Catalog Application</h3> 
      <a class="navbar-brand" style="color: rgb(89,187,164);" href="#">.</a>
      <button (click)="logout()" type="button" class="btn btn-dark">Logout</button>
    </div>
  </nav>